<div class="main bg-dark">
hjg
    <div class="container px-4 p-2  topview bg-danger">
        top view
        <div class="cover_photo d-flex justify-content-center bg-info">
            <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="chomies-img img-fluid" style="height: 20rem; width: 20rem">
        </div>
        <div class="user_info bg-warning d-flex">
            infor
            <div class="profile_pic">
                <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="rounded-circle border border-2 border-primary" alt="Cinque Terre" style="height: 14rem; width: 14rem">
            </div>
            <div class="info_acc bg-secondary mt-5">
                <h2 class="mt-4"><b>Mashoto Mash Molefe</b></h2>
                <div class="friends">
                    <p><b>1.7k friends - 158 mutual</b></p>
                </div>

                <div class="action">
                    <div class="mutual-chomies-cont">
                        <div class="mutual-chomies-img-cont d-flex">
                            <div class="mutual-chomies-img">
                              <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="chomies-img rounded-circle" style="height: 1.5rem; width: 1.5rem">
                            </div>
                            <div class="mutual-chomies-img img-2">
                              <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="chomies-img rounded-circle" style="height: 1.5rem; width: 1.5rem">
                            </div>
                            <div class="mutual-chomies-img img-3">
                                <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="chomies-img rounded-circle" style="height: 1.5rem; width: 1.5rem">
                              </div>
                              <div class="mutual-chomies-img img-4">
                                <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="chomies-img rounded-circle" style="height: 1.5rem; width: 1.5rem">
                              </div>
                          </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>